
/*-- Reset Code --*/

body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #555656;
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/*-- //Reset Code --*/

/*-- bottom-to-top --*/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 38px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 34px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/

/* header */

/* header top */

.header_topw3layouts_bar {
    background: rgba(4, 4, 4, 0.45);
}

.header_agileits_left ul li,
.header_agileits_left ul li a {
    display: inline-block;
    font-size: 15px;
    color: #eee;
    letter-spacing: 1px;
}

.header_agileits_left ul li i,
.header-loginw3ls i {
    color: #ff3c41;
}

.header_right a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.header-loginw3ls a:hover {
    color: #ff3c41;
}

/* social icons */

.w3social-icons ul li {
    display: inline-block;
}

.w3social-icons ul li a {
    color: #0ebeff;
    font-size: 18px;
}

.header_topw3layouts_bar .border-bottom {
    border-bottom: 2px solid rgba(222, 226, 230, 0.52) !important;
}

.w3social-icons ul li a:hover {
    color: #fff;
}

/* //social icons */

/* //header top */

/* navigation */

.bg-light {
    background-color: transparent !important;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 2px;
    font-size: 13px;
    padding: 0 14px 15px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    border-bottom: 2px solid #ff3c41;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 10px;
    font-weight: bold;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    border-bottom: 2px solid #ff3c41;
}

a.navbar-brand span {
    display: block;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 6px;
    text-align: center;
    margin-top: -7px;
    text-transform: uppercase;
}

ul.navbar-nav.ml-auto {
    margin-top: 34px;
}

.dropdown-item {
    letter-spacing: 1px;
    font-size: 15px;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: #168eea;
}

/* //navigation */

/* //header */

/* banner */

.bannerbg {
    background: url(../images/gimerc_banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 800px;
}

.banner-w3lstexts {
    max-width: 760px;
    margin: 11em auto 0;
}

.banner-w3lstexts.text-white h1 {
    font-size: 70px;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h4.text-uppercase {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 12px;
}

a.banner-button,
button.submit {
    background: #ff3c41;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

a.banner-button:hover,
.price-body a.btn-block:hover,
button.submit:hover {
    background: #0ebeff;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

/* //banner */

/*-- /faculty--*/

.faculty-services1 {
    background:#ff6a00;
	padding:3em 1.5em;
}
.fac i {
    font-size: 2.5em;
    color: #fff;
}
.faculty-services2 {
    background:#445c6e;
	padding:3em 1.5em;
}
.faculty-services3 {
    background:#00C389;
	padding:3em 1.5em;
}
.fac h3 {
    line-height: 1.8em;
	    color: #fff;
	    letter-spacing: 2px;
}
.fac p {
    letter-spacing: 1px;
    line-height: 1.8em;
    font-size: 15px;
    font-weight: 400;
    color: #d0d0d0;
}

/*-- //faculty--*/  

/*-- /guiding principles --*/

.principles {
    padding: 7em 0;
}

.icon_info h5 {
    font-size: 1.2em;
    color: #333;
    margin: 1em 0;
    font-weight: 600;
}

.icon_info {
    text-align: center;
}

.icon_info {
    text-align: left;
    padding: 4em 2em;
    border: 3px solid #f5f5f5;
    background-color: #f5f5f5;
    transition: all 0.3s ease-out 0s;
}


.grid_info_main i {
    font-size: 2em;
    color: #00C389;
}

.grid_info_main:hover i {
    color: #ff6a00;
}

.grid_info.second {
    margin-top: 1.5em;
}

.grid_info_main.mid img {
    width: 100%;
}

/*-- //guiding priciples --*/


/*-- services --*/
.agile_wthree_inner_grids {
    margin-top: 5em;
}
.agileits-button.two a, .agileits-button a {
    padding: 0.5em 0em;
    color: #f85a40;
    font-size: 15px;
    letter-spacing: 1px;
    background: none;
    border: none;
    border-radius: 0;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ff4c4c;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}
.wthree_banner_bottom_grid_right h4 {
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #333;
}
.wthree_banner_bottom_grid_right p {
    line-height: 28px;
    font-size: 14px;
    color: #676767;
    letter-spacing: 1px;
}
.agileits_banner_bottom_left {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.agile_banner_bottom_grid_left_grid i {
    font-size: 22px;
    color: #fff;
    background: #f85a40;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.w3_agileits_banner_bottom_pos_grid:hover i {
    color: #333;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
/*-- //services --*/



.stat-grids p {
    font-size: 2em;
    letter-spacing: 3px;
    color: #ff3d00;
}
.stat-grids h3 {
    font-size: 1.3em;
    color: #000 ;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 5px;
}
.carousel-indicators {
    bottom: -15px;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
}
/*--//stats --*/
.stats {
    background: #ffffff;
    box-shadow: 0 0 29px 0 rgba(41, 41, 41, 0.19);
    padding: 57px;
}
.features{
    background: #f2f3f8;
}
.row.stats_inner.top-st {
    border-top: 1px solid #e8e8e8;
}
.stat-grids:nth-child(1){
    border-right: 1px solid #e8e8e8;
}
/* testimonials */

.carousel-indicators .active {
    background: #ffbc00;
}

.content {
    margin-top: 20px;
}

.adjust1 {
    float: left;
    margin-bottom: 0;
    border: none;
}

.adjust2 {
    margin: 0;
}

.carousel-indicators li {
    background: #000;
}

.carousel-control {
    color: #fff;
    bottom: 0;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.media-object {
    margin: auto;
    margin-top: 1em;
    border-radius: 50%;
}
.adjust1 {
    margin-bottom: 2px;
    border: 0;
    background: #ffffff;
    box-shadow: 0 0 29px 0 rgba(41, 41, 41, 0.19);
    padding: 48px 48px 65px;
}
@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }
}


/* //testimonials */

p.Lor {
    font-size: 15px;
    color: #777;
    line-height: 1.8em;
}
/*-- testimonials --*/
.about-right h4 {
    font-size: 24px;
    font-weight: 600;
    color:#131212;
}
.testi-text {
    position: relative;
    padding: 24px;
}
.fone {
    margin-top: 30px;
}
.carousel-control .active {
    background: #31708f;
}
.adjust1 p{
    color: #777;
    line-height: 2em;
    text-align: left;
	font-size:15px;
	letter-spacing:1px;
}

.testi-left .carousel-control.left,
.testi-left .carousel-control.right {
    width: 19px;
    height: 19px;
}

.testi-text1:before {
    border-left: 10px solid #ad1a0a;
    border-right: none !important;
    left: auto !important;
    right: -3% !important;
}
.testi-text h4 {
    font-size: 1.3em;
    color: #eac828;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: left;
}
.caption.testi-text span {
    font-size: 1.2em;
    margin-right: 10px;
    color: #777;
}

.testi-text h5 {
    font-size: 1em;
    color: #000 ;
    line-height: 1.5em;
    font-weight: 600;
	letter-spacing:2px;
    text-align: left;
}

.testi-left {
    width: 89%;
    margin: 0 auto;
    position: relative;
}
/*-- //testimonials --*/

/*-- gallery --*/

.section_1_gallery_grid {
    margin-top: 1em;
}

.w3_section_1_gallery_grid {
    padding: 0 8px;
}

.section_1_gallery_grid1 {
    position: relative;
    background: #edf3f3;
    padding: 6px;
}

.proj_gallery_grid1_pos {
    background: #030605;
    bottom: 23px;
    left: 30px;
    opacity: 0;
    padding: 1em;
    position: absolute;
    right: 30px;
    text-align: center;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.proj_gallery_grid1_pos h3 {
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 600;
    position: relative;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.proj_gallery_grid1_pos p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
}

.section_1_gallery_grid:hover .proj_gallery_grid1_pos {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
}

.banner-bottom.gallery {
    padding: 5em 0;
}

p.quia {
    font-size: 1.2em;
    color: #140b05;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.proj_gallery_grid img {
    width: 100%;
}

/*-- //gallery --*/


/* -- ABOUT US PAGE 8* -->

/*-- Welcome section --*/
h2.heading,h3.heading {
    font-size: 40px;
    font-weight: 700;
    color: #232323;
}
p.heading-bottom {
    color: #a6a6a6;
    letter-spacing: 2px;
    font-size: 15px;
}
.welcome_right p {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #7b7b7b;
}
.icon span.fa,.icon span.fas {
    font-size: 20px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #f85a40;
    color: #fff;
}
.grid_info {
    padding-left: 0;
}
.grid_info h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.welcome_right{
    z-index: 1;
}
.welcome_right:after {
    border: 5px solid #f85a40;
    content: "";
    display: inline-block;
    left: -45px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/*-- //Welcome section --*/

/*-- why --*/
.why{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.why-grid h3 {
    font-size: 20px;
    font-weight: 600;
    color: #eee;
    letter-spacing: 1px;
}
.why-grid p {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #bbb;
}
.why-grid .agileits-button.two a {
    color: #fff;
}
.why  h3.heading{
    color: #fff;
}
/*-- //why --*/

/*-- stats --*/
.numscroller {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.stats-grid p {
    color: #eee;
    letter-spacing: 1px;
    font-size: 15px;
}
.stats-info-agile p {
    color: #000;
    font-size: 16px;
}
.w3l-right-stats {
    background: #f85a40;
}
/*-- //stats --*/

/*-- team --*/

.list-inline>li {
    margin: 1.2em 0;
    display: block;
    padding: 0;
}

.list-inline>li a {
    display: block;
}

.team-w3text h4 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.team-left img {
    width: 100%;
}

.list-inline>li a img {
    width: 37%;
}

.desoSlide-wrapper {
    position: relative;
    overflow: hidden;
}

.desoSlide-overlay {
    z-index: 10;
    color: #fff;
    font-size: 14px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1.9;
    padding: 2.5em;
    opacity: 0;
    filter: alpha(opacity=100);
    background: rgba(16, 16, 16, 0.71);
    width: 50% !important;
    position: absolute;
    top: 20% !important;
    left: -50% !important;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.team-w3text {
    float: right;
    width: 55%;
}

.desoSlide-overlay h3 {
    color: #ff3c41;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 800;
}

.desoSlide-wrapper:hover .desoSlide-overlay {
    left: 0% !important;
}

.desoSlide-overlay ul li {
    display: block;
}

.desoSlide-overlay ul li a {
    display: block;
    padding: 1em;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

.desoSlide-overlay ul li a:hover {
    -moz-opacity: 1;
    opacity: 1;
}

.desoSlide-overlay ul li a span.glyphicon {
    font-size: 1.3em;
    color: #fff;
}

.desoSlide-overlay ul li a h6 {
    font-size: 0.9em;
    color: #fff;
    margin-top: .5em;
}

/*-- //team --*/


/* -- ABOUT US PAGE 8* -->





/* footer top */

.footer-top {
    background: url(../images/bg3.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    margin-top: 50px;
}

.footer-top h2 {
    font-weight: 800;
    font-size: 33px;
}

.footer-top h5 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}

.footer-top i {
    color: #ff3c41;
    font-size: 9em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
}

/* //footer top */

/* footer */

.address-right h6 {
    font-size: 20px;
    color: #000;
}

.address-grid i {
    font-size: 40px;
    color: #404040;
}

.address-right p,
.address-right p a {
    color: #7c848c;
}

/* social-icons footer */

.w3social-icons-footer ul li {
    display: inline-block;
}

.w3social-icons-footer ul li a {
    color: #000;
    font-size: 20px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 2.4;
    border: 2px solid #ff3c41;
}

.w3social-icons-footer ul li a:hover {
    color: #ff3c41;
    -webkit-box-shadow: 0px 0px 13px 2px #ff3c41;
    -moz-box-shadow: 0px 0px 13px 2px #ff3c41;
    box-shadow: 0px 0px 13px 2px #ff3c41;
}

/*//social-icons footer */

/* //footer */

/* copyright */

.copy_right {
    background: #181819;
}

.copy_right p {
    letter-spacing: 2px;
}

.copy_right p a {
    color: #0ebeff
}

/* //copyright */